
<div class="general-form" >
  <mat-form-field appearance="fill">
    <mat-label>Soy...</mat-label>
    <mat-select disableRipple [(ngModel)]="formulario" >
      <mat-option value="1">Vendedor</mat-option>
      <mat-option value="2">Cliente</mat-option>
      <mat-option value="3">Despachador</mat-option>
    </mat-select>
  </mat-form-field>
</div>



<!--FORM VENDEDOR-->

<div class="row" *ngIf="formulario == 1" >
    <div class="col-md-offset-3 mx-auto">
      <form
        (ngSubmit)="registrarUsuario()"
        autocomplete="off"
        [formGroup]="formVendedor"
        #frmLibro="ngForm"
      >
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="username"
          />
  
          <mat-error *ngIf="formVendedor.hasError('required', 'username')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('minlength', 'username')">
            Debe tener al menos 5 caracteres
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('maxlength', 'username')">
            Debe tener 30 caracteres como máximo
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" row="5" type="password" autocomplete="off"/>
  
          <mat-error *ngIf="formVendedor.hasError('required', 'password')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('minlength', 'password')">
            Debe tener al menos 8 caracteres
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('maxlength', 'password')">
            Debe tener 150 caracteres como máximo
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" placeholder="Nombres" formControlName="nombre" />

            <mat-error *ngIf="formVendedor.hasError('required', 'nombre')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('minlength', 'nombre')">
                Debe tener al menos 2 caracteres
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('maxlength', 'nombre')">
                Debe tener 25 caracteres como máximo
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" placeholder="Apellidos" formControlName="apellido" />

            <mat-error *ngIf="formVendedor.hasError('required', 'apellido')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('minlength', 'apellido')">
                Debe tener al menos 5 caracteres
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('maxlength', 'apellido')">
                Debe tener 50 caracteres como máximo
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>DNI</mat-label>
            <input matInput type="text" placeholder="DNI" formControlName="dni" />

            <mat-error *ngIf="formVendedor.hasError('required', 'dni')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('maxlength', 'dni')">
                Debe tener 8 caracteres como máximo
            </mat-error>
        </mat-form-field>
  

        <a routerLink="/auth">¿Ya tienes cuenta? Inicia Sesión</a>

       <br /><br />
        <button type="button" mat-button routerLink="/">
          Cancelar
        </button>
  
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="ms-2"
          [disabled]="frmLibro.invalid"
        >
          Guardar
        </button>
       
      </form>
    </div>
  </div>
  
  <!--FORM CLIENTE-->

  <div class="row" *ngIf="formulario == 2">
    <div class="col-md-offset-3 mx-auto">
      <form
        (ngSubmit)="registrarUsuario()"
        autocomplete="off"
        [formGroup]="formCliente"
        #frmLibro="ngForm"
      >
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            placeholder="Email"
            formControlName="email"
          />
  
          <mat-error *ngIf="formCliente.hasError('required', 'email')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('minlength', 'email')">
            Debe tener al menos 5 caracteres
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('maxlength', 'email')">
            Debe tener 60 caracteres como máximo
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('email', 'email')">
            Debe ingresar una dirección de email válida
        </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" row="5" type="password" autocomplete="off"/>
  
          <mat-error *ngIf="formCliente.hasError('required', 'password')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('minlength', 'password')">
            Debe tener al menos 8 caracteres
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('maxlength', 'password')">
            Debe tener 150 caracteres como máximo
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" placeholder="Nombres" formControlName="nombre" />

            <mat-error *ngIf="formCliente.hasError('required', 'nombre')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formCliente.hasError('minlength', 'nombre')">
                Debe tener al menos 2 caracteres
            </mat-error>
            <mat-error *ngIf="formCliente.hasError('maxlength', 'nombre')">
                Debe tener 25 caracteres como máximo
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" placeholder="Apellidos" formControlName="apellido" />

            <mat-error *ngIf="formCliente.hasError('required', 'apellido')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formCliente.hasError('minlength', 'apellido')">
                Debe tener al menos 5 caracteres
            </mat-error>
            <mat-error *ngIf="formCliente.hasError('maxlength', 'apellido')">
                Debe tener 50 caracteres como máximo
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Teléfono</mat-label>
          <input matInput type="text" placeholder="Telefono" formControlName="telefono" />

          <mat-error *ngIf="formCliente.hasError('required', 'telefono')">
              Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('minlength', 'telefono')">
              Debe tener al menos 9 caracteres
          </mat-error>
          <mat-error *ngIf="formCliente.hasError('maxlength', 'telefono')">
              Debe tener 9 caracteres como máximo
          </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Dirección</mat-label>
        <input matInput type="text" placeholder="Dirección" formControlName="direccion" />

        <mat-error *ngIf="formCliente.hasError('required', 'direccion')">
            Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="formCliente.hasError('minlength', 'direccion')">
            Debe tener al menos 9 caracteres
        </mat-error>
        <mat-error *ngIf="formCliente.hasError('maxlength', 'direccion')">
            Debe tener 9 caracteres como máximo
        </mat-error>
    </mat-form-field>


        <a routerLink="/auth">¿Ya tienes cuenta? Inicia Sesión</a>

       <br /><br />
        <button type="button" mat-button routerLink="/">
          Cancelar
        </button>
  
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="ms-2"
          [disabled]="frmLibro.invalid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>

  <!--FOMR DESPACHADOR-->
  <div class="row" *ngIf="formulario == 3" >
    <div class="col-md-offset-3 mx-auto">
      <form
        (ngSubmit)="registrarUsuario()"
        autocomplete="off"
        [formGroup]="formDespachador"
        #frmLibro="ngForm"
      >
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="username"
          />
  
          <mat-error *ngIf="formVendedor.hasError('required', 'username')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('minlength', 'username')">
            Debe tener al menos 5 caracteres
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('maxlength', 'username')">
            Debe tener 30 caracteres como máximo
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" row="5" type="password" autocomplete="off"/>
  
          <mat-error *ngIf="formVendedor.hasError('required', 'password')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('minlength', 'password')">
            Debe tener al menos 8 caracteres
          </mat-error>
          <mat-error *ngIf="formVendedor.hasError('maxlength', 'password')">
            Debe tener 150 caracteres como máximo
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" placeholder="Nombres" formControlName="nombre" />

            <mat-error *ngIf="formVendedor.hasError('required', 'nombre')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('minlength', 'nombre')">
                Debe tener al menos 2 caracteres
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('maxlength', 'nombre')">
                Debe tener 25 caracteres como máximo
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" placeholder="Apellidos" formControlName="apellido" />

            <mat-error *ngIf="formVendedor.hasError('required', 'apellido')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('minlength', 'apellido')">
                Debe tener al menos 5 caracteres
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('maxlength', 'apellido')">
                Debe tener 50 caracteres como máximo
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
            <mat-label>DNI</mat-label>
            <input matInput type="text" placeholder="DNI" formControlName="dni" />

            <mat-error *ngIf="formVendedor.hasError('required', 'dni')">
                Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="formVendedor.hasError('maxlength', 'dni')">
                Debe tener 8 caracteres como máximo
            </mat-error>
        </mat-form-field>
  

        <a routerLink="/auth">¿Ya tienes cuenta? Inicia Sesión</a>

       <br /><br />
        <button type="button" mat-button routerLink="/">
          Cancelar
        </button>
  
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="ms-2"
          [disabled]="frmLibro.invalid"
        >
          Guardar
        </button>
       
      </form>
    </div>
  </div>