<main class="main">
    <!-- Header -->

    <!-- Landing -->
    <section class="landing">
      <div class="landing-text">
        <h1>Mercado  Makro</h1>
        <p>
         Estimado vendedor, gestiona tus puestos, registra tus productos...
        </p>
        <a routerLink="/auth" class="btn btn-lg">EMPIEZA YA</a>
      </div>
      <div class="landing-image">
        <img src="https://img.freepik.com/foto-gratis/mujer-joven-caja-registradora-tienda_8595-3256.jpg?w=1380" alt="Working Illustration" />
        <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8oA-ukgudmIJNuHFgM74fCRsrx1C9MZWImw3snf8bLcFi_pz9qdPMzh_agt5pZgB1Ebg&usqp=CAU">-->
      </div>
    </section>
    <!-- Features -->
    <section class="features" id="features">
      <div class="container">
        <!-- Short URL Feature -->

        <!-- Advanced Features -->
        <div class="more-features">
          <div class="section-header"><br>
            <h2>Caracteristicas</h2>
            <p>
              Descubre lo que puedes hacer desde una aplicación web.
            </p>
          </div>
          <div class="more-features-content">
            <div class="feature">
              <div class="feature-illustration">
                <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-brand-recognition.svg" alt="Feature Illustration Icon" />
              </div>
              <div class="feature-details">
                <h3>Crea puestos</h3>
                <p>
                  Puedes crear los puestos que desees.
                  Si en el mercado tienes 5 aquí también lo tendrás.
                </p>
              </div>
            </div>
            <div class="feature">
              <div class="feature-illustration">
                <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-detailed-records.svg" alt="Feature Illustration Icon" />
              </div>
              <div class="feature-details">
                <h3>Agregar sectores</h3>
                <p>
                    Puedes agregar sectores, y 
                    también descubrir nuevos...
                </p>
              </div>
            </div>
            <div class="feature">
              <div class="feature-illustration">
                <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-fully-customizable.svg" alt="Feature Illustration Icon" />
              </div>
              <div class="feature-details">
                <h3>Crea productos</h3>
                <p>
                  Puedes registrar productos desde tu puesto,
                  de manera fácil y rápida.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing -->
    <section class="pricing" id="pricing">
      <div class="container">
        <div class="section-header">
          <h2>Boost your links today</h2>
          <a routerLink="/auth" class="btn btn-lg">EMPIEZA YA</a>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer" id="resources">
      <div class="container">
        <!-- Website Logo -->
        <div class="logo">
          <a href="#">
            <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/logo.svg" alt="" />
          </a>
        </div>
        <!-- Quick Links -->
        <div class="quick-links">
          <div class="links-group">
            <span>Features</span>
            <div>
              <a href="#">Link Shortening</a>
              <a href="#">Branded Links</a>
              <a href="#">Analytics</a>
            </div>
          </div>
          <div class="links-group">
            <span>Resources</span>
            <div>
              <a href="#">Blog</a>
              <a href="#">Developers</a>
              <a href="#">Support</a>
            </div>
          </div>
          <div class="links-group">
            <span>Company</span>
            <div>
              <a href="#">About</a>
              <a href="#">Our Team</a>
              <a href="#">Careers</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
        <!-- Social Media -->
        <div class="social-media">
          <a href="#">
            <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-facebook.svg" alt="Facebook Logo">
          </a>
          <a href="#">
            <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-twitter.svg" alt="Twitter Logo">
          </a>
          <a href="#">
            <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-pinterest.svg" alt="Pinterest Logo">
          </a>
          <a href="#">
            <img src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-instagram.svg" alt="Instagram Logo">
          </a>
        </div>
      </div>
      <!-- Made By -->
      <div class="attribution">
        Landing Page By <a href="https://www.frontendmentor.io?ref=challenge" class="outer-link" target="_blank">Shortly</a>.
        Coded by <span class="outer-link">Diego Vergara</span>.
      
      </div>
    </footer>
  </main>