<div class="row" >
    <div class="col-md-offset-3 mx-auto">
      <form
        (ngSubmit)="registrarAdm()"
        autocomplete="off"
        [formGroup]="form"
        #frmLibro="ngForm"
      >
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="username"
          />
  
          <mat-error *ngIf="form.hasError('required', 'username')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="form.hasError('minlength', 'username')">
            Debe tener al menos 3 caracteres
          </mat-error>
          <mat-error *ngIf="form.hasError('maxlength', 'username')">
            Debe tener 15 caracteres como máximo
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" row="5" type="password" autocomplete="off"/>
  
          <mat-error *ngIf="form.hasError('required', 'password')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="form.hasError('minlength', 'password')">
            Debe tener al menos 8 caracteres
          </mat-error>
          <mat-error *ngIf="form.hasError('maxlength', 'password')">
            Debe tener 150 caracteres como máximo
          </mat-error>
        </mat-form-field>
  

        <a routerLink="/auth/nueva-sesion-adm">Inicia Sesión</a>

       <br /><br />
        <button type="button" mat-button routerLink="/">
          Cancelar
        </button>
  
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="ms-2"
          [disabled]="frmLibro.invalid"
        >
          Guardar
        </button>
       
      </form>
    </div>
  </div>