<div class="row">
  <div class="col-md-offset-3 mx-auto">
    <form
      (ngSubmit)="registrar()"
      autocomplete="off"
      [formGroup]="form"
      #frmLibro="ngForm"
    >
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" row="5" />

        <mat-error *ngIf="form.hasError('required', 'nombre')">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="form.hasError('minlength', 'nombre')">
          Debe tener al menos 3 caracteres
        </mat-error>
        <mat-error *ngIf="form.hasError('maxlength', 'nombre')">
          Debe tener 20 caracteres como máximo
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" row="5" />

        <mat-error *ngIf="form.hasError('required', 'descripcion')">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="form.hasError('minlength', 'descripcion')">
          Debe tener al menos 10 caracteres
        </mat-error>
        <mat-error *ngIf="form.hasError('maxlength', 'descripcion')">
          Debe tener 150 caracteres como máximo
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select disableRipple formControlName="estado">
          <mat-option value="ACTIVO">ACTIVO</mat-option>
          <mat-option value="NO DISPONIBLE">NO DISPONIBLE</mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field
        appearance="fill"
        *ngFor="let sector of sectores; let i = index"
      >
        <mat-label>Sector</mat-label>
        <mat-select formControlName="sector">
          <mat-option *ngFor="let nombres of sector" [value]="nombres">
            {{ nombres.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field
        appearance="fill"
        *ngFor="let mercado of mercados; let i = index"
      >
        <mat-label>Mercado</mat-label>
        <mat-select formControlName="mercado" >
          <mat-option *ngFor="let nombres of mercado" [value]="nombres">
            {{ nombres.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--<a routerLink="/auth/registrar">¿Sin cuenta? Registrate aquí</a>-->

      <br /><br />
      <button type="button" mat-button routerLink="/admin/vendedor/puestos/:id">
        Cancelar
      </button>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="ms-2"
        [disabled]="frmLibro.invalid"

      >
        Guardar
      </button>
    </form>
  </div>
</div>
<mat-progress-spinner
*ngIf="enviado"
class="example-margin"
[color]="color"
[mode]="mode"
[value]="value"
diameter="50">
</mat-progress-spinner>
