.example-container {
    width: 500px;
    height: 300px;
    margin: auto;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:none;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .mat-drawer-container {
      background-color:none;
  }