<h3 class="fw-bold" >Lista de mercados</h3>

<div class="text-end">
  <button
    class="new-mercado"
    mat-raised-button
    routerLink="/master/adm/nuevo-mercado"
    title="Nueva Mercado"
  >
    <mat-icon>add</mat-icon>&nbsp; Nuevo Mercado
  </button>
</div>

<div class="example-header">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Buscar mercado"
    />
  </mat-form-field>
</div>

<div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    class="w-100"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>


      <ng-container matColumnDef="distrito" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distrito</th>
        <td mat-cell *matCellDef="let element">{{ element.distrito }}
        </td>

      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
  
        <td mat-cell *matCellDef="let element">
          <button
          mat-button
          title="Editar"
          alt="Editar"
          [routerLink]="[
            '/master/adm/mercado/',
            element.id,
            'editar'
          ]"
        >
        <mat-icon>ballot</mat-icon>
        </button>

          <button
          mat-button
          (click)="eliminar(element.id)"
          title="Eliminar"
          alt="Eliminar"
        >
          <mat-icon>delete</mat-icon>
        </button>
        </td>
      </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
