table th, td {
    margin: auto;
    text-align: center;
}
@media (max-width: 768px) {
    table th  {
        padding: 0.5em;
        font-size:11px;
    }
    table td {
        padding: 0.5em;
        font-size:11px;
    }
    #title-puestos{
        font-size: 11px;
    }
}

table {
    width: 100%;
  }
  .container-table{
    width: 100%;
overflow-x: auto;
}